.container{ 
    max-width: 960px;
    margin: 0px auto;
    font-family: verdana;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(200px,auto));
    grid-template-areas: 
                        "h m m"
                        "h a n"
                        "f f n";
}
header{
    background-color: antiquewhite;
    margin: 0px 10px 10px 10px;
    grid-area: h;
}
main{
    background-color: aqua;
    margin: 0px 10px 10px 10px;
    grid-area: m;
}
aside{
    background-color: blue;
    margin: 10px;
    grid-area: a;
}
nav{
    background-color: coral;
    margin: 10px;
    grid-area: n;
}
footer{
    background-color: cornflowerblue;
    margin: 10px;
    grid-area: f;
}